Service References/GenusMeterService/Genus.SmartMeter.DomainEntities.UserDefinedEntities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Genus.SmartMeter.DomainEntities.UserDefinedEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Genus.SmartMeter.DomainEntities.UserDefinedEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MeterPingStatusEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastCommunication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeterPingStatusEntity" nillable="true" type="tns:MeterPingStatusEntity" />
  <xs:complexType name="MeterVoltEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryTimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeReported" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoltA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VoltB" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VoltC" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeterVoltEntity" nillable="true" type="tns:MeterVoltEntity" />
</xs:schema>