Service References/GenusMeterService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Genus.SmartMeter.DomainEntities.UserDefinedEntities" />
  <xs:element name="PerformPeakLoadManagementForMultipleMeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meterNumbers" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="kW_Limits" nillable="true" type="q2:ArrayOfdouble" />
        <xs:element minOccurs="0" name="applicableDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformPeakLoadManagementForMultipleMetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformPeakLoadManagementForMultipleMetersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformPeakLoadManagementForSingleMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kW_Limit" type="xs:double" />
        <xs:element minOccurs="0" name="applicableDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformPeakLoadManagementForSingleMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformPeakLoadManagementForSingleMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDemandReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meters" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDemandReadRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnDemandReadRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDemandConnectDisconnectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meters" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="applicableDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDemandConnectDisconnectRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnDemandConnectDisconnectRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRequestStatusResult" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTodConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meters" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="numberOfTodSlots" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tariffTimings" nillable="true" type="q7:ArrayOfstring" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tariffValues" nillable="true" type="q8:ArrayOfint" />
        <xs:element minOccurs="0" name="applicableDateTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTodConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTodConfigurationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMaxDemandIntegrationPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meters" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="mdIntegrationPeriod" type="xs:int" />
        <xs:element minOccurs="0" name="applicableDateTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMaxDemandIntegrationPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMaxDemandIntegrationPeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetBillForMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meterID" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="applicableDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetBillForMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetBillForMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoBillingDateForMeters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="meters" nillable="true" type="q11:ArrayOfstring" />
        <xs:element minOccurs="0" name="dayOfMonth" type="xs:int" />
        <xs:element minOccurs="0" name="applicableTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoBillingDateForMetersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAutoBillingDateForMetersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestPingTimeForMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestPingTimeForMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Genus.SmartMeter.DomainEntities.UserDefinedEntities" minOccurs="0" name="GetLatestPingTimeForMeterResult" nillable="true" type="q12:MeterPingStatusEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoltEventForMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoltEventForMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Genus.SmartMeter.DomainEntities.UserDefinedEntities" minOccurs="0" name="GetVoltEventForMeterResult" nillable="true" type="q13:MeterVoltEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>